.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App main {
  max-width: 1280px;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 8rem;
}

@media (max-width: 600px) {
  .App main {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
