:root {
  --color-primary: rgb(235, 0, 70);
  --color-primary-hover: rgb(196, 5, 62);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: white;
  background: rgb(128, 128, 128);
}

body {
  width: 100%;
  margin: 0;

  padding-top: 1rem;
  padding-bottom: 100px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.25rem;
  background-color: rgb(14, 17, 22);
  color: rgb(202, 209, 216);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
}

h2 {
  margin-bottom: 1rem;
  user-select: none;
}

a {
  margin-top: 1.5rem;
  margin-right: 1rem;
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border: none;
  background-color: white;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-primary);
  color: white;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

input[type='text'],
input[type='password'] {
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid rgba(202, 209, 216, 0.993);
  border-radius: 0.25rem;
  background-color: rgb(14, 17, 22);
  color: rgb(202, 209, 216);
}

input[type='text']:focus,
input[type='password']:focus {
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--color-primary);
  outline: none;
  border: 1px solid var(--color-primary);
}

button.a {
  font-size: 1.25rem;
  background: none;
  margin-top: 1.5rem;
  margin-right: 1rem;
  color: var(--color-primary);
  text-decoration: none;
}

button.a:hover {
  text-decoration: underline;
}

textarea {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  background: rgba(236, 239, 243, 0.969);
  color: rgb(33, 33, 33);
  border: none;
  padding: 1rem;
  resize: none;
  border-radius: 0.25rem;
  width: 100%;
}

textarea:focus {
  outline: none;
}
