.Posts h2 {
  /* font-size: 1rem;
  text-transform: uppercase; */
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* MARKDOWN STYLING */
/* NOTE: Found on these components: Post, Posts, CreatePost */
.Posts .markdownContainer {
  margin-bottom: 2rem;
  line-height: 1.3;
  padding: 1rem 0rem;
}

.Posts .markdownContainer img {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}

.Posts .markdownContainer ul,
.Posts .markdownContainer ol {
  padding: 0rem 2rem;
}

.Posts .markdownContainer h1,
.Posts .markdownContainer h2,
.Posts .markdownContainer h3,
.Posts .markdownContainer h4,
.Posts .markdownContainer h5,
.Posts .markdownContainer h6 {
  margin-bottom: 1.5rem;
}
/* ------ */

.Posts p {
  margin-bottom: 2rem;
}

.Posts hr {
  height: 2px;
  background-color: rgba(105, 110, 138, 0.074);
  border: none;
  border-radius: 3px;
}
